format: 1
shs-libcxi:
  # Requires local packages:
  #   zypper install libconfig-devel
  #   zypper install libuv-devel
  #   zypper install fuse-devel
  #   zypper install libsensors4-devel
  defaults:
    group: Libraries
    compile_in_sourcetree: true
    relstage: unstable
    urls:
      - url: https://github.com/HewlettPackard/shs-libcxi/archive/refs/tags/release/shs-${V_PKG}.tar.gz
        name: shs-libcxi-${V_PKG}.tar.bz2
    # urls:
    #   - url: https://github.com/HewlettPackard/shs-libcxi/archive/refs/heads/main.zip
  shasums:
    shs-libcxi-13.0.0.tar.bz2: 48c11617352f48262400f3722e0f8a701c6bceb74701c39a9ea20e83ca690fe3
    shs-libcxi-12.0.1.tar.bz2: 360ec4f51439e499780aad920c0d2e5c92e6ab717d86b38f62775f27073bd0ca
  versions:
    13.0.0:
      config:
        relstage: unstable
        patch_files:
          - patch/cassini_csr_defs-v13.0.0.patch
      variants:
        - systems: [.*.merlin7.psi.ch]
          overlay: Alps
          suffix: '-oss'
          use_overlays: [PSI]
          use_flags: [merlin7]
          build_requires: [gcc/12.3.0,shs-cassini-headers/13.0.0-oss,shs-cxi-driver/13.0.0-oss]
    12.0.1:
      config:
        relstage: stable
        patch_files:
          - patch/cassini_csr_defs-v12.0.1.patch
      variants:
        - systems: [.*.merlin7.psi.ch]
          overlay: Alps
          suffix: '-oss'
          use_overlays: [PSI]
          use_flags: [merlin7]
          build_requires: [gcc/12.3.0,shs-cassini-headers/12.0.1-oss,shs-cxi-driver/12.0.1-oss]
